#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define SYS 1

/*
 * Assign the cs-gpios pin to 4.
 * Uncomment these next few lines if implementing nice!view Displays
 * This overwritse the CS pin s.t. RGB can use pin D1
 */

nice_view_spi: &spi0 { cs-gpios = <&pro_micro 4 GPIO_ACTIVE_HIGH>; };

// /* https://zmk.dev/docs/behaviors/sticky-layer */
// &sl {
//     release-after-ms = <1000>;
// };
// /* https://zmk.dev/docs/behaviors/hold-tap */
// &mt {
//     tapping-term-ms = <201>;
//     flavor = "tap-preferred";
// };
// /* https://zmk.dev/docs/behaviors/sticky-key */
// &sk {
//     release-after-ms = <2000>;
//     quick-release;
// };
// Overwride default overlay LED Strip length here

&led_strip { chain-length = <32>; };

/ {
    // Activate ADJUST layer by pressing raise and lower
    // conditional_layers { compatible = "zmk,conditional-layers"; };
    // combos {
    //     compatible = "zmk,combos";
    // };
    // behaviors {
    //     hl_l: homerow_layers_left {
    //         compatible = "zmk,behavior-hold-tap";
    //         label = "HOMEROW_LAYERS_L";
    //         #binding-cells = <2>;
    //         tapping-term-ms = <220>;
    //         quick-tap-ms = <250>;
    //         flavor = "tap-preferred";
    //         bindings = <&mo>, <&kp>;
    //     };
    //     hl_r: homerow_layers_right {
    //         compatible = "zmk,behavior-hold-tap";
    //         label = "HOMEROW_LAYERS_R";
    //         #binding-cells = <2>;
    //         tapping-term-ms = <220>;
    //         quick-tap-ms = <250>;
    //         flavor = "tap-preferred";
    //         bindings = <&mo>, <&kp>;
    //     };
    //     td: tapdance {
    //         compatible = "zmk,behavior-hold-tap";
    //         label = "TAPDANCE";
    //         #binding-cells = <2>;
    //         tapping-term-ms = <190>;
    //         quick-tap-ms = <250>;
    //         flavor = "tap-preferred";
    //         bindings = <&kp>, <&kp>;
    //     };
    // };

    behaviors {
        hold_caps_word: hold_caps_word {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            bindings = <&caps_word>, <&kp>;
        };

        // For using with medium use keys on hold
        // hold-tap-balanced-medium
        htbm: hold_tap_balanced_med {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "ALPHA"; // Adds label to display
            bindings = <
&kp GRAVE            &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp EQUAL
&kp TAB                  &kp Q            &kp W             &kp E              &kp R            &kp T            &kp Y            &kp U            &kp I            &kp O            &kp P             &kp MINUS
&hold_caps_word 0 LSHFT  &kp A            &kp S             &kp D              &kp F            &kp G            &kp H            &kp J            &kp K            &kp L            &kp SEMI          &kp SQT
&kp LCTRL                &kp Z            &kp X             &kp C              &kp V            &kp B            &kp N            &kp M            &kp COMMA        &kp DOT          &kp FSLH          &kp BSLH
                                          &htbm HOME PAGE_UP  &htbm END PAGE_DOWN                                                                      &kp LBKT         &kp RBKT
                                                                               &sk LSHFT        &kp SPACE        &kp RET          &kp BSPC
                                                                               &kp LGUI         &kp LALT         &kp UP_ARROW     &kp RIGHT_ARROW
                                                                               &kp ESC          &tog SYS         &kp LEFT_ARROW   &kp DOWN_ARROW
            >;
        };

        settings_layer {
            label = "SETTINGS"; // Adds label to display
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4       &none            &none            &none            &none            &none            &none
&none  &bt BT_CLR    &out OUT_TOG  &none         &none         &ext_power EP_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &none
&none  &none         &none         &none         &none         &none              &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &none
&none  &none         &none         &none         &none         &none              &none            &none            &none            &none            &none            &none
                     &bootloader   &sys_reset                                                                       &bootloader      &sys_reset
                                                 &none         &none              &none            &none
                                                 &none         &none              &none            &none
                                                 &none         &trans             &none            &none
            >;
        };
    };
};
